body {
    /* 背景图片 */
    background-image: url("../material/picture/background.jpg");
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
}

.title {
    /* 标题字体 */
    font-size: 40px;
    /* 标题字体加粗 */
    font-weight: bold;
    /* 标题字体上方间距 */
    margin-bottom: 20px;
    /* 标题字体下方间距 */
    margin-top: 200px;
    /* 标题字体左右居中 */
    text-align: center;
    /* 标题字体颜色 */
    color: #ffffff;
    /* 标题字体样式 */
    font-family: "STXinwei", serif;
}